adminPassword: "base64encoded"
demoPassword: "base64encoded"

githubKey: |
  SSH Key for accessing repos in your GitHub account/organization

githubToken: "API token for GitHub"

licenseCert: |
  License certificate from CloudBees

licenseKey: |
  License key from CloudBees
